body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left:40px;
  font-weight: 200;
  font-size: 14px;
}

#titles{
    position: relative;
    //left: 450px;
    text-align: center;
}

text {
  cursor: default;
}

h1 {
  font-weight: 400;
}

#chart {
  height: 506px;
}

text {
  font-size: 10px;
}

/* stying the table */
#credits{
    background-color: lightgray;
    width: 1030px;
    position: relative;
    //left: 25px;
    margin: auto;
}

table{
    margin:auto;
    //left: 50px;
}

th, td{
  width: 600px;
}

#header{
    font-size: 16px;
}

.lastcolumn{
    width: 270px;
}

.firstcolumn{
    width: 270px;
}
.secondcolumn{
    width: 270px;
}

.selected {
  stroke-width: 4;
}
